.DS_Store
TestDoc.md
.DropPHP.xojo_uistate
DropPHP/Builds - DropPHP.xojo_project
DropToScript/Builds - DropToScript.xojo_project
.DropToScript.xojo_uistate
MBSKeys.txt
DropToScript/Builds - DropToScript
DropScripts/Extractor/.idea
CPrivateData.xojo_code
DropScripts/AutoTitle/.idea
DropScripts/Cleaner/.idea
DropScripts/DropScriptTemplate/.idea
DropScripts/LangTag/.idea
DropScripts/MakeBreaksConform/.idea
DropScripts/SearchAndReport/.idea
DropScripts/UpdateClass/.idea
